name: terraform-azureml

on:
  workflow_call:
    inputs:
      environment:
        description: "GitHub environment to target (e.g. anet-dev, anet-prod)"
        required: true
        type: string
      environment_config_file:
        description: "Path to the infra config YAML inside the calling repository"
        required: true
        type: string
      terraform_directory:
        description: "Path to the Terraform project inside the templates repository"
        required: false
        default: ml-mlops-templates/terraform/azureml
        type: string
      apply:
        description: "Whether to run terraform apply (plan always runs)"
        required: false
        default: false
        type: boolean
      import_script:
        description: "Optional script to run before terraform apply"
        required: false
        default: ../../scripts/terraform/import_unmanaged_resources.sh
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  get-config:
    uses: ./.github/workflows/read-yaml.yml
    with:
      file_name: ${{ inputs.environment_config_file }}

  plan:
    needs: get-config
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    defaults:
      run:
        working-directory: ${{ inputs.terraform_directory }}
    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      PROJECT_RESOURCE_GROUP_NAME: ${{ secrets.PROJECT_RESOURCE_GROUP_NAME }}
      PROJECT_RESOURCE_GROUP_LOCATION: ${{ secrets.PROJECT_RESOURCE_GROUP_LOCATION }}
      AML_WORKSPACE: mlw-${{ needs.get-config.outputs.namespace }}-${{ needs.get-config.outputs.postfix }}${{ needs.get-config.outputs.environment }}
      KEYVAULT_NAME: kv-${{ needs.get-config.outputs.namespace }}-${{ needs.get-config.outputs.postfix }}${{ needs.get-config.outputs.environment }}
      ARM_USE_AZUREAD: true
      TF_VAR_repo_name: ${{ github.event.repository.name || github.repository }}
    steps:
      - name: Checkout project repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - name: Check out templates repository
        uses: actions/checkout@v4
        with:
          repository: Eedi/ml-mlops-templates
          token: ${{ secrets.GITHUB_TOKEN }}
          path: ml-mlops-templates
          ref: ${{ needs.get-config.outputs.templates_ref }}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ needs.get-config.outputs.terraform_version }}
      - name: Terraform Format Check
        run: terraform fmt -check
      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="resource_group_name=${{ secrets.ARM_BACKEND_RESOURCE_GROUP_NAME }}" \
            -backend-config="storage_account_name=${{ secrets.ARM_BACKEND_STORAGE_ACCOUNT_NAME }}" \
            -backend-config="container_name=${{ secrets.ARM_BACKEND_CONTAINER_NAME }}"
      - name: Terraform Validate
        run: terraform validate -no-color
      - name: Az CLI Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      - name: Terraform Plan
        run: |
          terraform plan \
            -var "prefix=${{ needs.get-config.outputs.namespace }}" \
            -var "postfix=${{ needs.get-config.outputs.postfix }}" \
            -var "environment=${{ needs.get-config.outputs.environment }}" \
            -var "enable_aml_computecluster=${{ needs.get-config.outputs.enable_aml_computecluster }}" \
            -var "enable_monitoring=${{ needs.get-config.outputs.enable_monitoring }}" \
            -var "slack_webhook_url=${{ secrets.SLACK_WEBHOOK_URL }}" \
            -var "resource_group_name=${{ secrets.PROJECT_RESOURCE_GROUP_NAME }}" \
            -var "location=${{ secrets.PROJECT_RESOURCE_GROUP_LOCATION }}" \
            -var "repo_name=${{ github.event.repository.name || github.repository }}" \
            -no-color -input=false

  apply:
    needs: [get-config, plan]
    if: inputs.apply
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    defaults:
      run:
        working-directory: ${{ inputs.terraform_directory }}
    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      PROJECT_RESOURCE_GROUP_NAME: ${{ secrets.PROJECT_RESOURCE_GROUP_NAME }}
      PROJECT_RESOURCE_GROUP_LOCATION: ${{ secrets.PROJECT_RESOURCE_GROUP_LOCATION }}
      AML_WORKSPACE: mlw-${{ needs.get-config.outputs.namespace }}-${{ needs.get-config.outputs.postfix }}${{ needs.get-config.outputs.environment }}
      KEYVAULT_NAME: kv-${{ needs.get-config.outputs.namespace }}-${{ needs.get-config.outputs.postfix }}${{ needs.get-config.outputs.environment }}
      TF_VAR_prefix: ${{ needs.get-config.outputs.namespace }}
      TF_VAR_postfix: ${{ needs.get-config.outputs.postfix }}
      TF_VAR_environment: ${{ needs.get-config.outputs.environment }}
      TF_VAR_enable_aml_computecluster: ${{ needs.get-config.outputs.enable_aml_computecluster }}
      TF_VAR_enable_monitoring: ${{ needs.get-config.outputs.enable_monitoring }}
      TF_VAR_slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
      TF_VAR_resource_group_name: ${{ secrets.PROJECT_RESOURCE_GROUP_NAME }}
      TF_VAR_location: ${{ secrets.PROJECT_RESOURCE_GROUP_LOCATION }}
      TF_VAR_repo_name: ${{ github.event.repository.name || github.repository }}
      ARM_USE_AZUREAD: true
    steps:
      - name: Checkout project repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - name: Check out templates repository
        uses: actions/checkout@v4
        with:
          repository: Eedi/ml-mlops-templates
          token: ${{ secrets.GITHUB_TOKEN }}
          path: ml-mlops-templates
          ref: ${{ needs.get-config.outputs.templates_ref }}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ needs.get-config.outputs.terraform_version }}
      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="resource_group_name=${{ secrets.ARM_BACKEND_RESOURCE_GROUP_NAME }}" \
            -backend-config="storage_account_name=${{ secrets.ARM_BACKEND_STORAGE_ACCOUNT_NAME }}" \
            -backend-config="container_name=${{ secrets.ARM_BACKEND_CONTAINER_NAME }}"
      - name: Az CLI Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      - name: Import unmanaged resources
        if: inputs.import_script != ''
        run: ${{ inputs.import_script }}
      - name: Terraform Apply
        run: |
          terraform apply -auto-approve \
            -var "prefix=${{ needs.get-config.outputs.namespace }}" \
            -var "postfix=${{ needs.get-config.outputs.postfix }}" \
            -var "environment=${{ needs.get-config.outputs.environment }}" \
            -var "enable_aml_computecluster=${{ needs.get-config.outputs.enable_aml_computecluster }}" \
            -var "enable_monitoring=${{ needs.get-config.outputs.enable_monitoring }}" \
            -var "slack_webhook_url=${{ secrets.SLACK_WEBHOOK_URL }}" \
            -var "resource_group_name=${{ secrets.PROJECT_RESOURCE_GROUP_NAME }}" \
            -var "location=${{ secrets.PROJECT_RESOURCE_GROUP_LOCATION }}" \
            -var "repo_name=${{ github.event.repository.name || github.repository }}" \
            -no-color
